body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #264653;
}

.container{
  height: 100vh;
  width: 100vw  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titolo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #264653;
  width: 100%;
  color: #f4a261;
  font-style: bold;
  font-size: 25px;
}

.main{
  
  background-color: #f4a261;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  color: #264653;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.main img{
  margin-top: 20px;
}

.main form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.main input{
  margin: 0;
  font-size: 30px;
  border-radius: 3px;
  margin: 5px;
  border: 1px solid #264653;
  color: #264653;
  

}

.meme {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 450px;
  background-size: 100%; 
  text-align: center;
  position: relative;
}

p {
  position: absolute; 
  left: 0;
  right: 0; 
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact;
  font-size: 2.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

select {
  background-color: #264653;
  color: #f4a261;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5px;
  
}


@media screen and (max-width: 1000px){
  .meme{
      width: 250px;
      height: 250px;
  }
  h1{
    font-size: 15px;
    font-weight: bold;
  }
  .main input{
    font-size: 15px;
  }
  .main select{
    font-size: 8px;
  }
  .main{
    
    flex-direction: column;
    justify-content: flex-start;
  }
  span{
    font-size: 8px;
  }

}